## Scénario
Aujourd’hui est un grand jour, vous commencez votre mission chez BottleNeck, un marchand de vin très prestigieux. 
Le responsable du projet vous explique les enjeux de votre première mission :

 “Actuellement, pour gérer nos ressources, nos clients, etc., on utilise un ERP qui n’est absolument pas relié à notre site de vente en ligne. Pour être tout à fait honnête, les outils en place sont vraiment artisanaux et dans ces conditions, la gestion des stocks est vraiment complexe et notre visibilité en termes d’analyse des ventes sur le Net est vraiment réduite, car très peu de personnes ont accès au back-office. En attendant une solution plus centralisée, un rapprochement entre les 2 bases, même manuel, pourrait être très utile…

Ta première mission se passe en 3 points.

* Premièrement, j’ai besoin que tu rapproches deux exports : un export de l’ERP contenant les références produit, leur prix de vente et leur état de stock, et un export d’une table de l’outil de CMS contenant les informations des produits commercialisés en ligne (nom, description, nombre de ventes...), il sont présentées pers les deux fichiers (1.xls, 2.xlsx). En plus de ces 2 exports, tu vas bénéficier d’une aide précieuse car Sylvie, notre ancienne stagiaire, a réalisé un travail de fourmi. Elle a créé un tableau Excel qui permet d’établir le lien entre la référence du produit dans l’ERP (product_id) et la référence du même produit dans la base de la boutique en ligne (SKU) les données sont présentées par le fichier 3.xls ( En fait, la colonne id_web dans son fichier correspond au SKU des produits dans la boutique en ligne.)

* Deuxièmement, une fois le rapprochement effectué, je souhaiterais avoir le chiffre d’affaires par produit, ainsi que le total du chiffre d’affaires réalisé en ligne.

* Troisièmement et pour finir, je me demande s’il n’y a pas eu des erreurs de saisie dans certains prix des produits. J'aimerais que tu effectues une analyse sur cette variable afin de détecter d’éventuelles valeurs aberrantes, de les lister et d’en faire une représentation graphique pour plus de lisibilité.

**Nous voudrions présenter tes résultats lors de la prochaine réunion de COPIL. Cela permettrait de montrer nos progrès. Je peux t’épargner le travail d’une présentation par slides, il me faut juste un notebook que tu présenteras à l’assemblée pour expliquer ta démarche.**”

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df_erp = pd.read_excel('data/1.xlsx')
df_inter = pd.read_excel('data/2.xlsx')
df_sku = pd.read_excel('data/3.xlsx')

C:\Users\utilisateur\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [18]:
df_erp.head()

   product_id  onsale_web  price  stock_quantity stock_status
0        3847           1   24.2               0   outofstock
1        3849           1   34.3               0   outofstock
2        3850           1   20.8               0   outofstock
3        4032           1   14.1               0   outofstock
4        4039           1   46.0               0   outofstock

In [19]:
df_merge = pd.merge(df_erp, df_inter, on='product_id')
df_merge.head()

   product_id  onsale_web  price  stock_quantity stock_status id_web
0        3847           1   24.2               0   outofstock  15298
1        3849           1   34.3               0   outofstock  15296
2        3850           1   20.8               0   outofstock  15300
3        4032           1   14.1               0   outofstock  19814
4        4039           1   46.0               0   outofstock  19815

In [20]:
df_merge.rename(columns={'id_web': 'sku'}, inplace=True)
df_sku.columns

Index(['id_web', 'virtual', 'downloadable', 'rating_count', 'average_rating',
       'total_sales', 'tax_status', 'tax_class', 'post_author', 'post_date',
       'post_date_gmt', 'post_content', 'post_title', 'post_excerpt',
       'post_status', 'comment_status', 'ping_status', 'post_password',
       'post_name', 'post_modified', 'post_modified_gmt',
       'post_content_filtered', 'post_parent', 'guid', 'menu_order',
       'post_type', 'post_mime_type', 'comment_count'],
      dtype='object')

In [21]:
df_merge = pd.merge(df_merge, df_sku, on='sku')
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9163 entries, 0 to 9162
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             9163 non-null   int64
 1   onsale_web             9163 non-null   int64
 2   price                  9163 non-null   float64
 3   stock_quantity         9163 non-null   int64
 4   stock_status           9163 non-null   object
 5   id_web                 1428 non-null   object
 6   virtual                9163 non-null   int64
 7   downloadable           9163 non-null   int64
 8   rating_count           9163 non-null   int64
 9   average_rating         1610 non-null   float64
 10  total_sales            1610 non-null   float64
 11  tax_status             896 non-null    object
 12  tax_class              0 non-null      float64
 13  post_author            1610 non-null   float64
 14  post_date              1610 non-null   datetime64[ns]
 15  post_date_gmt          1610 non-null   datetime64[ns]
 16  post_content           0 non-null      float64
 17  post_title             1610 non-null   object
 18  post_excerpt           896 non-null    object
 19  post_status            1610 non-null   object
 20  comment_status         1610 non-null   object
 21  ping_status            1610 non-null   object
 22  post_password          0 non-null      float64
 23  post_name              1610 non-null   object
 24  post_modified          1610 non-null   datetime64[ns]
 25  post_modified_gmt      1610 non-null   datetime64[ns]
 26  post_content_filtered  0 non-null      float64
 27  post_parent            1610 non-null   float64
 28  guid                   1610 non-null   object
 29  menu_order             1610 non-null   float64
 30  post_type              1610 non-null   object
 31  post_mime_type         714 non-null    object
 32  comment_count          1610 non-null   float64
dtypes: datetime64[ns](4), float64(11), int64(6), object(12)
memory usage: 2.4+ MB

<span style="color: orange;">Maintenant que nous avons fusionnés nos Dataframe, nous allons rajouter une nouvelle colonne **Chiffre d'affaire**</span>

In [23]:
df_merge.columns

Index(['product_id', 'onsale_web', 'price', 'stock_quantity', 'stock_status',
       'id_web', 'virtual', 'downloadable', 'rating_count', 'average_rating',
       'total_sales', 'tax_status', 'tax_class', 'post_author', 'post_date',
       'post_date_gmt', 'post_content', 'post_title', 'post_excerpt',
       'post_status', 'comment_status', 'ping_status', 'post_password',
       'post_name', 'post_modified', 'post_modified_gmt',
       'post_content_filtered', 'post_parent', 'guid', 'menu_order',
       'post_type', 'post_mime_type', 'comment_count'],
      dtype='object')

In [24]:
df_merge["Chiffre d'affaire"] = df_merge["total_sales"] * df_merge["price"]
df_merge["Chiffre d'affaire"] = df_merge["Chiffre d'affaire"].astype(float)

In [25]:
df_merge["Chiffre d'affaire"]

0       145.2
1       145.2
2         0.0
3         0.0
4         0.0
        ...
9158      0.0
9159      0.0
9160      0.0
9161      0.0
9162      0.0
Name: Chiffre d'affaire, Length: 9163, dtype: float64

In [28]:
ca_total = df_merge['Chiffre d\'affaire'].sum()

print(f"Le Chiffre d'affaire total est de {ca_total} €")

Le Chiffre d'affaire total est de 141137.2 €

In [29]:
df_merge.to_excel('data/merge.xlsx', index=False)